<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=0" />
    <title>Мои путешествия по миру</title>
</head>
<body bgcolor="#ffffff">
    <div align="center" style="padding-top: 80px;">
        <p1 class="message">{{ info }}</p1>
    </div>
    <div align="center" style="padding-top: 10px;">
        <a href="/" target="_self">На главную</a>
    </div>
</body>
</html>